
.linear-gradient {
    background-color: #2f4353;
    background-image: linear-gradient(0deg, #2f4353 0%, #d2ccc4 74%);
}



P { text-align: center }

.button {
	background-color: #2f4353;
	border: none;
	color: white;
	padding: 15px 32px;
	font-size: 16px;
	cursor: pointer;
	/* margin: auto; */
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 50px;
}

h1 {
    font-size: 30px;
    text-align: center;
    color : #2f4353
}